*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body, .time, .left-side .right-side, .right-top, .right-down{
    display:flex;
    justify-content:center;
    align-items:center;
}
.digital-clock,.time, .right-side{
    position:relative;
}
body{
    min-height: 80vh;
    background: #2F4F4F;
}
.digital-clock{
    color: red;
    background: #4B0082;
    width:425px;
    padding:20px 45px;
    border-radius:10px;
}
.digital-clock::before{
    content:'';
    position:absolute;
    background:linear-gradient(45deg, white,red,black);
    background-size:200% 200%;
    top:-5px;
    left:-5px;
    bottom:-5px;
    right:-5px;
    z-index:-1;
    filter:blur(30px);
    animation: glowing 5s ease infinite;

}
@keyframes glowing{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
#hours{
    font-weight: 600px;
    padding: 0 10px;
    line-height:125px;
    font-size:8em;
    background: -webkit-linear-gradient(90deg, red, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.right-side{
    flex-direction:column;
}
#dots{
    font-size:4em;
    transform:transalteY(-3px);
    color:gray;
}
#minutes{
    font-size:5em;
    font-weight:500;
    margin-left:10px;
    transform: translateY(10px);
    background: -webkit-linear-gradient(90deg, white, blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.right-down{
    margin-left:10px;
    transform: transalteY(-25px);
}
 #seconds{
    font-size:1.8em;
    font-weight:500;
    margin-left: 10px;
    transform: translateY(5px);
    background: -webkit-linear-gradient(90deg, black, white) ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#period{
    font-size:1.8em;
    font-weight:500;
    margin-left: 10px;
    color:orange;
}
#seconds{
    color:white;

}